{%extends "layout.html" %} {%block style%}
<link rel="stylesheet" href="{{ url_for('static', filename ='css/search.css')}}"/>
{% endblock %} {%block body%}
<div class="row d-flex justify-content-center">
  <form action="/book" method="POST">
    <div class="form-group">
      <label for="name" class="text-center h2"> Search </label>
      <div class="row">
        <div class="col">
          <input type="search" name="byIsbn" id="name" class="form-control mt-1" placeholder="ISBN" aria-describedby="name"/>
        </div>
        <div class="col">
          <input type="search" name="byTitle" id="name" class="form-control mt-1" placeholder="Title" aria-describedby="name"/>
        </div>
        <div class="col">
          <input type="search" name="byAuthor" id="name" class="form-control mt-1" placeholder="Author" aria-describedby="name"/>
        </div>
        <div class="col">
          <input type="number" name="byYear" id="name" class="form-control mt-1" placeholder="Publication Year" aria-describedby="name"/>
        </div>
        <div class="col">
          <button type="submit" class="btns"> Find </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    {% if itemsCount %}
    <div class="text-center alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <p>
        <strong> {{itemsCount}} book matches </strong> found!
      </p>
    </div>
    <script> $(".alert").alert();</script>
    {%endif%} {% if msgNo %}
    <div
    class="text-center alert alert-danger alert-dismissible fade show"
    role="alert"
    >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p>{{msgNo}} for: <strong> {{text}}</strong></p>
  </div>

  <script>
    $(".alert").alert();
  </script>
  {{key1234key5678}} {%endif%}
</div>

<div class="container testimonial-group">
  {%if items%}
  <div class="row text-center"><h3>Books:</h3></div>
  {%endif %}
  <div class="row text-center">
    {%if items%}
    {% for i in items %}
    <div class="col-4">
      <table class="table table-hover">
        <tr>
            <img src="http://covers.openlibrary.org/b/isbn/{{i[1]}}-M.jpg" /> 
        </tr>
        <tr>
          <td>
            Title
          </td>
          <td>
            <a href="{{baseUrl}}/{{i[1]}}"> {{i[2]}}</a>
          </td>
        </tr>
        <tr>
          <td>
            Author
          </td>
          <td>
             {{i[3]}}
          </td>
        </tr>
        <tr>
          <td>
            Pub.Year
          </td>
          <td>
            {{i[4]}}
          </td>
        </tr>
        <tr>
          <td>
            ISBN
          </td>
          <td>
            {{i[1]}}
          </td>
        </tr>
      </table>
    </div>
    {% endfor %}
               
  </div>
  {%endif %}
</div>


{%endblock%}
