{%extends "layout.html"%} {%block title%} Single Books {%endblock%} 
{%block style
  %}
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename ='css/book.css')}}"
  />
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename ='fonts/material-icon/css/material-design-iconic-font.min.css')}}">
  {% endblock %}
  {%block body%}
  <div class="row">
    <div
    class="message"
    style="height: 44px; background: transparent; width: 100%; margin: 10px 0;"
    >
    {% with messages = get_flashed_messages() %} {%if messages%} {%for i in
    messages %}
    <div
    class="text-center alert alert-success alert-dismissible fade show"
    role="alert"
    >
    <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
    >
    <span aria-hidden="true">&times;</span>
  </button>
  <strong> {{i}} </strong> 
</div>
{%endfor%} {%endif%} {%endwith%}
</div>
</div>
<!--message row finish-->

<div class="row mt-4 book-info">
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <img src="{{url_for('static', filename = 'img/book.png')}}" />
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card  mt-4">
      {%if dbdata %}

      <table class="table table-striped">
        <thead>
          <!-- data from database -->
          {%for i in dbdata%}
          <tr>
            <th>Title</th>
            <th>{{i[2]}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Author</th>
            <td>{{i[3]}}</td>
          </tr>
          <tr>
            <th>Year</th>
            <td>{{i[4]}}</td>
          </tr>
          <tr>
            <th>ISBN</th>
            <td>
             {{i[1]}}
           </td>
         </tr>
         {%endfor%}

         <!-- data from apicall  -->
         {%if apidata %}
         <tr>
          <th>Total Reviews</th>
          <td>{{apidata['books'][0]['work_reviews_count']}}</td>
        </tr>
        <tr>
          <th>Total Ratings</th>
          <td>{{apidata['books'][0]['work_ratings_count']}}</td>
        </tr>
        <tr>
          <th>Average rating</th>
          <td>{{apidata['books'][0]['average_rating']}}</td>
        </tr>
        {%endif%}
      </tbody>
    </table>
    {%endif%}
  </div>
</div>

<div class="col-md-4">
  <div class="card mt-4">
    {%for i in dbdata%}
    <h4 class="text-center">Review Book:</h4>
    <form
    action="{{baseUrl}}"
    method="POST"
    id="reviewForm"
    >
    {%endfor%}

    <td>
      {%for i in dbdata %}
      <input
      type="hidden"
      class="form-control disabled"
      name="isbn"
      value="{{i[1]}}"
      readonly
      />
      {%endfor%}
    </td>
    <div class="rating">
      <table class="table">
        <tr>
          <td>Rating:</td>
          <td>
            <div class="rating"> 
              <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
              <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
              <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
              <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
              <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
          </td>
        </tr>

        <!-- <tr>
          <td>Rating</td>
          <td>
            <input
              type="radio"
              class="form-check-input"
              name="rating"
              value="1"
            >
            ☆ <br />
            <input
              type="radio"
              class="form-check-input"
              name="rating"
              value="2"
            />
            ☆☆ <br />
            <input
              type="radio"
              class="form-check-input"
              name="rating"
              value="3"
            />
            ☆☆☆ <br />
            <input
              type="radio"
              class="form-check-input"
              name="rating"
              value="4"
            />
            ☆☆☆☆ <br />
            <input
              type="radio"
              class="form-check-input"
              name="rating"
              value="5"
            />
            ☆☆☆☆☆ <br />
          </td>
        </tr> -->

        
        <tr>
          <td>Comment:</td>
          <td>
            <div class="comment">
              <textarea
              placeholder="Write your comment here"
              class="form-control"
              name="comment"
              rows="3"
              ></textarea>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <button type="submit" class="btns text-center">Submit</button>
  </form>
</div>
{{dbemail}}

</div>
</div>


<!-- reviews section -->
<div class="row mt-5">
  <div class="col-sm-12 col-md-7">
    <h3>Reviews</h3>
    {%if dbreviews %} {%for i in dbreviews %}

    <div class="comment-main mt-4 text-justify float-left"> 
      <img src="{{url_for('static', filename = 'img/comment.png')}}" alt="" class="rounded-circle" width="40" height="40">
      <h5>{{i[0]}} </h5> <span>-{{ i[4].strftime("%B %d, %Y") }} </span> <br>
      <p>{{i[2]}}</p>
      <span style="float: left;"> Rating:  </span><p style="float: left;" id="demo"> {{i[1]}}/5</p>
       <!--  <script>
          if ('{{i[1]}}' == 1) {
            document.getElementById("demo").innerHTML = "☆";
          }else if ('{{i[1]}}' == 2) {
            document.getElementById("demo").innerHTML = "☆☆";
          }else if ('{{i[1]}}' == 3) {
            document.getElementById("demo").innerHTML = "☆☆☆";
          }else if ('{{i[1]}}' == 4) {
            document.getElementById("demo").innerHTML = "☆☆☆☆";
          }else  {
            document.getElementById("demo").innerHTML = "☆☆☆☆☆";
          }
        </script> -->
        <!-- <div class="stars-outer">
          <div class="stars-inner"></div>
        </div>
        <script>
            const starPercentage = (3/ starTotal) * 100;
            const starPercentageRounded = `${(Math.round(starPercentage / 10) * 10)}%`;
            document.querySelector(`.${3} .stars-inner`).style.width = starPercentageRounded; 
        </script>
       -->
    </div>


      {%endfor%} {%else %}

      <h4>No Reviews Yet!</h4>
      {%endif%}
    </div>


  </div>
  {{bookinfo}} {%endblock%}





















